@import 'libs/bootstrap-reboot.min';
@import 'base/variables';


.container {
    max-width: 1140px;
    margin: 0 auto;
}
* {
    font-family: sans-serif;
    h2 {
        margin: 0 0;
    }
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src:url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "RobotoCondensed";
    src:url(../fonts/RobotoCondensed-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "RobotoCondensed";
    src:url(../fonts/RobotoCondensed-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

.title {
    // margin: 0 auto;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    line-height: 26px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
}

@import 'blocks/button';
@import 'blocks/forms';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/info';
@import 'blocks/description';
@import 'blocks/prices';
@import 'blocks/consultation';