.button {
    background-color: $main-color;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    margin-left: 19px;
    width: 160px;
    height: 45px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 44px;
    &:focus {
        outline: none;    //     border: none;
    }    
}