.agent {
    min-height: 342px;
    padding-top: 79px;
    padding-bottom: 75px;
    background: url("../../img/bg_agent.jpg") center (center/cover) no-repeat;
}
.description {
    text-align: center;
    &__img {
        margin: 0 auto;
        text-align: center;
        width: 102px;
        height: 102px;
        border: 1.0px solid #ffffff;
        border-radius: 100%;
        img {
            margin-top: 21px;
        }
    } 
    &__title {
        margin-top: 20px;
        font-family: Roboto;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: #ffffff;
    }
    &__text {
        margin: 0 auto;
        font-family: Roboto;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
        max-width: 984px;
        margin-top: 22px;
    }
}