.promo {
    background: url("../../img/bg_promo.jpg") center (center/cover) no-repeat;
    min-width: 1140px;
    min-height: 680px;
    padding: 0 0 82px 1px;

    &__name {
        text-align: center;
        margin-top: 9px;
        span {
            font-family: Roboto;
            font-size: 24px;
            line-height: 24px;
            font-weight: 300;
            color: #ffffff;
        }
        &-title {
            margin: 26px auto 0;
            font-family: RobotoCondensed;
            font-size: 72px;
            line-height: 72px;
            font-weight: 700;
            text-transform: uppercase;
            color: $main-color;
        }
        &-subtitle {
            margin: 9px auto 0;
            font-family: RobotoCondensed;
            font-size: 42px;
            line-height: 42px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
        }
        &-trait {
            display: flex;
            width: 809px;
            margin-left: 166px;
            hr {
                color: #fff;
                width: 388px;
                margin-top: 38px;
                line-height: 0;
            }
            &-round {
                // content: '';
                margin: 34px 12px 0 12px;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 100%;
            }
        }
 
    }

    &__info {
        margin: 33px auto 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 1138px;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__img {
        margin: 0 auto;
        // max-width: 67px;
        // max-height: 63px;
    }
    &__descr {
        &-mt19 {
            margin-top: 19px;
        }
        &-mt6 {
            margin-top: 6px;
        }
        margin-top: 16px;
        text-align: center;
        max-width: 262px;
        font-family: Roboto;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        color: #ffffff;
    }
}

.header {
    display: flex;
    &__logo {
        margin-top: 23px;
        img {
            min-width: 96px;
            min-height: 100px;
        }
    }

    &__menu {
        margin-left: 55px;
        margin-top: 55px;
        min-width: 600px;
        &-main {
            padding: 0;
            list-style-type: none;
        }
        &-item {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            &:after {
                content: '';
                color: #ffffff;
                position: absolute;
                left: -12px;
                top: 2px;
                display: inline-block;
                border: dotted 1px;
                border-right: none;
                width: 1px;
                height: 23px;
                opacity: 0.4;
            }
            &:first-child {
                margin-left: 0;
                &:after {
                    display: none;
                }
            }
            a {
                font-family: Roboto;
                font-size: 15px;
                line-height: 16px;
                font-weight: 400;
                color: #ffffff;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    
    &__contacts {
        margin-top: 40px;
        margin-left: 41px;
        text-align: right;
        span {
            font-family: Roboto;
            font-size: 14px;
            line-height: 14px;
            font-weight: 300;
            color: #ffffff;
        }
        a {
            margin-top: 5px;
            font-family: Roboto;
            font-size: 19px;
            line-height: 19px;
            font-weight: 700;
            color: #ffffff;
        }
    }
}